body {
	background: red;
}

.container {
	width: 1024px;
	margin: auto;
}

h1 {
	color: red;
	text-align: center;
}

.header {
	width: 100%;
	text-align: center;
}

td {
	width: 25%;
}

.image_main {
	text-align: center; 
}

.header a {
	color: yellow;
	font-size: 20px;
	text-decoration: none;

}

a:hover {
	color: red;
}

p {
	color: white;
}

.image_two img {
	float: left;
	margin-left: 60px;
	-object-fit: fill;
	width: 400px;
	height: 300px;
}

tr {
	border: 1px solid white;
	border-bottom: 1px solid #303030;
}

.player {
	margin: 30px 0 30px 0;
	width: 650px;
	color: white;
	float: right;
	border: 1px solid white;
	border-collapse: separate; border-spacing: 10px 10px;
}

.name {
	width: 150px;
	font-size: 20px;
}

.role {
	width: 150px;
	font-size: 20px;
}

.info {
	width: 350px;
	font-size: 20px;
}

.bbb {
	width: 1024px;
	height: 1050px;
	background-image: url(../images/heal.png);
	background-repeat: no-repeat;
	background-position: 0px 30px;
	background-size: 300px 750px;
	background-attachment: local;
}

.first_string {
	color: green;
	border-bottom: 1px solid green;
}

.spisok {
	list-style-type: none;
	font-size: 25px;
	display: inline;
}

li {
	display: inline;
	float: right;
	margin-left: 20px;
}

p bbb2 {
	color: black;
	font-family: black;
}

ul {
	color: white;
}

.tank {
	color: #B46D03;
}

.heal {
	color: white;
}

.damage {
	color: #992C2C;
}

.ustav {
	margin-top: 50px;
	float: left;
	width: 400px;
	height: 360px;
	background-image: url(../images/ustav.png);
	background-size: 400px 360px;
}

.eee {
	color: #2F0AAB;
	padding-top: 120px;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 20px;
	text-align: justify;
	text-indent: 90px;
}

.zamok {
	margin-top: 100px;
	margin-left: 224px;
	float: left;
	width: 400px;
	height: 360px;
	background-image: url(../images/zamok.png);
	background-size: 400px 360px;
}
